body {
  margin: 0;
  font-family: 'Poppins', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* font-size: 62.5%; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  --pc: #599AC3;
  --white:rgb(253, 252, 252);
  --sc: #E3FEFF;
}

.main-container{
  display: grid;
  grid-template-rows: 5rem 1fr 5rem;
  grid-template-columns: 1fr;
  grid-template-areas: 
  'header'
  'main'
  'footer'
  ;
  height: 100vh;

}

a{
  text-decoration: none;
}
ul{
  list-style: none;
}



